@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700;900&display=swap");
@tailwind base;

.noto-black {
  font-display: swap;
  font-family: "Noto Sans KR";
  font-weight: 900;
}

p {
  font-display: swap;
  font-family: "Noto Sans KR";
  font-weight: 700;
}

@tailwind components;
@tailwind utilities;
